<div id="capitulos" class="capitulos">
    
    <%_.each(jsonData,function(elem,ind){%>
                <%if(ind=="titulo"){%>
                <h1 class="transitions-fast"><%=elem%></h1>
                <%}else{%>
                    <%_.each(elem,function(obj,indx){%>
                        <%if(obj.claseSlider=="ampliar"){%>
                            <div class="ampliar row">
                                <div class="col-md-4 col-sm-4 col-xs-12"><a href="#">Ver [+]</a></div>
                                <div class="col-md-8 col-sm-8 col-xs-12"><div class="hide transitions-fast"><%=obj.texto%></div></div>
                            </div>
                        <%}else{%>
                            <div class="ampliar row">
                                <div class="col-md-4 col-sm-4 col-xs-12"></div>
                                <h2 class="col-md-8 col-sm-8 col-xs-12"><%=obj.titulo%></h2> 
                            </div>

                            <div class="row">                           
                                <!--<%console.log(obj)%>-->
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="imagen">    
                                        <img src="img/libros/signos/<%=obj.lowres%>" data-src="<%=obj.src%>" data-extract="<%=obj.extracto%>"/>

                                        <!-- por si tiene segunda imagen -->
                                        <% if (obj.src2) { %>
                                            <img src="img/libros/signos/<%=obj.lowres2%>" data-src="<%=obj.src2%>"/>
                                        <% } %>

                                        <div class="extracto">
                                            <%=obj.extracto%>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class="texto <%=obj.claseSlider%>">
                                        <%=obj.texto%>
                                    </div>
                                </div>
                            </div>                            
                        <%}%>
                    <%})%>
                <%}%>
    <%})%>
    
</div>
