<div id="capitulos" class="capitulos">
    
    <%_.each(jsonData,function(elem,ind){%>
                <%if(ind=="titulo"){%>
                <h1 class="transitions-fast"><%=elem%></h1>
                <%}else{%>
                    <%_.each(elem,function(obj,indx){%>
                        <%if(obj.claseSlider=="ampliar"){%>
                        <div class="ampliar">
                            <a href="#"><span>[+]</span> Ver más páginas </a>
                            <div class="hide transitions-fast"><%=obj.texto%></div>
                        </div>
                        <%}else{%>
                            <h2><%=obj.titulo%></h2>                            
                            <%console.log(obj)%>
                            <div class="imagen">    
                                <img src="img/libros/signos/<%=obj.lowres%>" data-src="<%=obj.src%>" data-extract="<%=obj.extracto%>"/>
                                <div class="extracto">
                                    <%=obj.extracto%>
                                </div>
                            </div>

                            <div class="texto <%=obj.claseSlider%>">
                                <%=obj.texto%>
                            </div>
                        <%}%>
                    <%})%>
                <%}%>
    <%})%>
    
</div>
