<div id="capitulos" class="capitulos">
    <div class='row'>
    <%_.each(jsonData,function(elem,ind){%>
                <%if(ind=="titulo"){%>
                <h3 class="transitions-fast"><%=elem%></h3>
                <%}else{%>
                    <%_.each(elem,function(obj,indx){%>
                        <%if(obj.claseSlider=="ampliar"){%>
                        <div class="ampliar">
                            <a href="#">mostrar</a>
                            <div class="hide"><%=obj.texto%></div>
                        </div>
                        <%}else{%>
                            <h3><%=obj.titulo%></h3>
                            <div class="extracto">
                                <%=obj.extracto%>
                            </div>
                            <hr />
                            <img src="img/libros/signos/<%=obj.lowres%>" />
                            <div class="texto <%=obj.claseSlider%>">
                                <%=obj.texto%>
                            </div>
                        <%}%>
                    <%})%>
                <%}%>
    <%})%>
    </div>
</div>
