<div class="modalContent hide modalsignos">
    <div class="content-1">      
        <div class="">
            <div class="">
                <div class="ttCont"> 
                    <img src="img/libros/signos/<%=dataToShow.src%>" alt="">
                    <p><%=dataToShow.extracto%></p>

                    <span class="traduccion-btn transitions-fast" data-tip="Activar lupa">
                        <i class="fa fa-search-plus"></i>
                        <!--<span class="ttip transitions-fast">Traducción</span>-->
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
