<div id="signosBook" class="wrapper books-cont">
    <div class='row' id="first-row">
        <div class='navBookSignos navBook col-md-2 col-sm-12 col-xs-12'>  

            <div class='informacion'>
                <div class="info transitions-fast">[Información]</div>
                <nav class="transitions-mid">
                    <ul>
                        <li><a href="" data-seccion="Bio"><!--<i class="menuArrow fa fa-angle-double-right"></i>-->[ El álbum de Santa Fe ]</span></a></li>
                        <li><a href="" data-seccion="Memorias"><!--<i class="menuArrow fa fa-angle-double-right"></i>-->[ Fotografía, <span>modernización y sociedad.</span> <span>La experiencia santafesina]</span></a></li>
                        <li><a href="" data-seccion="Notas"><!--<i class="menuArrow fa fa-angle-double-right"></i>-->[ Nota a la <span>edición digital ]</span></a></li>
                    </ul>
                </nav>
            </div>           
        </div>

        <div class="navBook col-md-1 col-sm-12 col-xs-12">
            <h1 class='libroTitle'><span>Signos Santafesinos</span> en el Bicentenario</h1>
        </div>
        
        <div class="signosMenu col-md-2 col-sm-12 col-xs-12">
            <div class='navBook' id="main-menu">
                <div class="caps">
                    <!--<div class="capsOpen">
                        <h3>Capítulos <i class="fa fa-angle-down"></i></h3>
                        <img alt="aca" src="img/libros/signos/hitos-signos.jpg" class="transitions-fast"> 
                    </div>-->
                    <nav>
                        <ul class="main-ul">
                        
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="hitoswrap transitions-mid">
                <div class="hitos">
                    <div class="hitosOpen">                        
                        <img class="transitions-fast" src="img/libros/signos/hitos-signos.jpg" alt="aca"> 
                        <h3>HITOS <i class="fa fa-angle-up"></i></h3>
                    </div>
                    <div class='hitosMenu' id="hitos-menu" style="display:none">
                        <nav>
                            <ul class="mainhitos">
                            
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            
        </div>

        <div class='col-md-7 col-sm-12 col-xs-12'>
            <div class="grillaSignos transitions-mid capSignos">
                
            </div>
            <!--<i class="fa fa-spinner fa-pulse transitions-mid"></i>-->

            <div id="txt" class="transitions-fast"></div>
        </div>
    </div>
    <div class="row" id="second-row" >
        <div class='navBook navBookSignos col-md-2 col-sm-12 col-12-xs'>
            <div class='informacion'>
                <div class="info transitions-fast">[Información]</div>
                <nav class="transitions-mid">
                    <ul>
                        <li><a href="" data-seccion="Bio"><!--<i class="menuArrow fa fa-angle-double-right"></i>-->[ El álbum de Santa Fe ]</span></a></li>
                        <li><a href="" data-seccion="Memorias"><!--<i class="menuArrow fa fa-angle-double-right"></i>-->[ Fotografía, <span>modernización y sociedad.</span> <span>La experiencia santafesina]</span></a></li>
                        <li><a href="" data-seccion="Notas"><!--<i class="menuArrow fa fa-angle-double-right"></i>-->[ Nota a la <span>edición digital ]</span></a></li>
                    </ul>
                </nav>
            </div>

            <h1 class='libroTitle'>Signos Santafesinos en el Bicentenario</h1>
        </div>
        <div class='signosMenu navBook col-md-2 col-sm-3 col-12-xs'>
            <div id="back" class="transitions-fast"><i class="fa fa-chevron-circle-left"></i><span>capitulos</span></div>
            <nav class="subcaps">
                <ul></ul>
            </nav>
        </div>
        <div class="sliderWrapper transitions-mid subcapSignos col-md-8 col-sm-9 col-12-xs"><ul id="subcapslider"></ul></div>
    </div>
</div>
