<div id="signosBook" class="wrapper books-cont">
    <div class='row' id="first-row">
        <div class='col-md-2 col-sm-12 col-12-xs'>            
            <h1 class='libroTitle'>Signos Santafesinos en el Bicentenario</h1>
        </div>
        <div class='navBook col-md-2 hidden-sm hidden-xs' id="main-menu">
            <nav>
                <ul>
                
                </ul>
            </nav>
        </div>
       
        <div class='col-md-8 col-sm-12 col-xs-12'>
            <div class="sliderWrapper transitions-mid capSignos"></div>
            <i class="fa fa-spinner fa-pulse transitions-mid"></i>

            <div id="txt" class="transitions-fast"></div>
        </div>
    </div>
    <div class="row" id="second-row" >
        <div class='col-md-2 col-sm-12 col-12-xs'>            
            <h1 class='libroTitle'>Signos Santafesinos en el Bicentenario</h1>
        </div>
        <div class='navBook col-md-2 col-sm-12 col-12-xs'>
            <div id="back">capitulos</div>
            <nav class="subcaps">
                <ul></ul>
            </nav>
        </div>
        <div class="sliderWrapper transitions-mid subcapSignos"><ul id="subcapslider"></ul></div>
    </div>
</div>
