<div class="modalContent hide">
    <div class="content-1">      
        <div class="row">
            <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="ttCont"> 
                    <img src="img/libros/siglos/<%=dataToShow.src%>" alt="">
                    
                    <span class="traduccion-btn transitions-fast" data-tip="Activar lupa">
                        <i class="fa fa-search-plus"></i>
                        <!--<span class="ttip transitions-fast">Traducción</span>-->
                    </span>

                    <i class="fa fa-spinner fa-pulse transitions-mid"></i>
                </div>
            </div>

            <div class="siglos-info col-md-5 col-sm-12 col-xs-12">            
                    <h2> <%=dataToShow.data%></h2>
                    <h3> <%=dataToShow.autor%></h3>
                    <p><%=dataToShow.txt%> <span class="coleccion">Colección: <%=dataToShow.coleccion%></span></p>                            
            </div>
        </div>
    </div>
</div>
