<div id="siglosBook" class="wrapper books-cont">
    <div class='row'>
        <div class='navBook col-md-2 hidden-sm hidden-xs'>
            <nav>
                <ul>
                    <li><a href="" data-seccion="Bio"><!--<i class="menuArrow fa fa-angle-double-right"></i>-->[ ¿Quién es <span>Florian Paucke? ]</span></a></li>
                    <li><a href="" data-seccion="Memorias"><!--<i class="menuArrow fa fa-angle-double-right"></i>-->[ Sus memorias ]</a></li>
                    <li><a href="" data-seccion="Notas"><!--<i class="menuArrow fa fa-angle-double-right"></i>-->[ Nota a la <span>edición digital ]</span></a></li>
                </ul>
            </nav>

            <menu class="grillaBtns">
                <ul>                    
                    <li class="transitions-mid  sliderBtn inactive tooltipBtn" data-tip="Cambiar a slide"><span class="transitions-mid" href="" ></span></li>
                    <li class="transitions-mid grillaBtn tooltipBtn" data-tip="Cambiar a grilla"><i class="fa fa-th transitions-mid "></i></li>
                </ul>
            </menu>
        </div>
        <div class='navBook col-md-1 col-sm-12 col-12-xs'>            
            <h1 class='libroTitle'>Florian Paucke Hacia allá y para acá.</h1>
        </div>
        <div class='col-md-9 col-sm-12 col-xs-12'>
            <div class="sliderWrapper">
            </div>
            <div class="spinner"></div>
            
            <div id="txt" class="transitions-fast"></div>
        </div>
    </div>
</div>
