<div id="grilla" class="grilla imgs">
    <div class='row'>
        <div class="col-md-3 col-sm-3 col-12-xs">
            <div class="hoverContainer">
                <div class="hoverTitle transitions-fast">
                    <!--<i class="fullscreen-hover"></i>-->
                    <h3 class="transitions-fast">Mi travesía por el Saladillo</h3>
                </div>                        
                <img src="img/libros/paucke/mi-travesia-por-el-saladillo.jpg" data-src="js/application/views/paucke/helpers/modal01.html" alt="">   
            </div>

            <div class="hoverContainer">
                <div class="hoverTitle transitions-fast">
                    <!--<i class="fullscreen-hover"></i>-->
                    <h3 class="transitions-fast">Sus ceremonias durante el beber en exceso</h3>
                </div>
                <img src="img/libros/paucke/sus-ceremonias-durante-el-beber-en-exceso.jpg" data-src="js/application/views/paucke/helpers/modal05.html" alt="">
            </div>

            <div class="hoverContainer">
                <div class="hoverTitle transitions-fast">
                    <!--<i class="fullscreen-hover"></i>-->
                    <h3 class="transitions-fast">Su fruta</h3>
                </div>
                <img src="img/libros/paucke/su-fruta.jpg" data-src="js/application/views/paucke/helpers/modal09.html" alt="">
            </div>

            <div class="hoverContainer">
                <div class="hoverTitle transitions-fast">
                    <!--<i class="fullscreen-hover"></i>-->
                    <h3 class="transitions-fast">El peje rey</h3>
                </div>
                <img src="img/libros/paucke/el-peje-rey.jpg" data-src="js/application/views/paucke/helpers/modal13.html" alt="">
            </div>

            <div class="hoverContainer">
                <div class="hoverTitle transitions-fast">
                    <!--<i class="fullscreen-hover"></i>-->
                    <h3 class="transitions-fast">Indios se arrojan al agua</h3>
                </div>
                <img src="img/libros/paucke/indios-se-arrojan-al-agua.jpg" data-src="js/application/views/paucke/helpers/modal17.html" alt="">
            </div>
        </div>


        <div class="col-md-3 col-sm-3 col-12-xs">
            <div class="hoverContainer">
                <div class="hoverTitle transitions-fast">
                    <!--<i class="fullscreen-hover"></i>-->
                    <h3 class="transitions-fast">Se hacen tatuar la cara para ser bellos</h3>
                </div> 
                <img src="img/libros/paucke/se-hacen-tatuar-la-cara-para-ser-bellos.jpg" data-src="js/application/views/paucke/helpers/modal02.html" alt="">
            </div>

            <div class="hoverContainer">
                <div class="hoverTitle transitions-fast">
                    <!--<i class="fullscreen-hover"></i>-->
                    <h3 class="transitions-fast">Deshacen la choza</h3>
                </div>
                <img src="img/libros/paucke/deshacen-la-choza.jpg" data-src="js/application/views/paucke/helpers/modal06.html" alt="">
            </div>

            <div class="hoverContainer">
                <div class="hoverTitle transitions-fast">
                    <!--<i class="fullscreen-hover"></i>-->
                    <h3 class="transitions-fast">Un cocodrilo sin cabeza se arrastra de nuevo al aguas</h3>
                </div>
                <img src="img/libros/paucke/un-cocodrilo-sin-cabeza-se-arrastra-de-nuevo-a-las-aguas.jpg" data-src="js/application/views/paucke/helpers/modal10.html" alt="">
            </div>

            <div class="hoverContainer">
                <div class="hoverTitle transitions-fast">
                    <!--<i class="fullscreen-hover"></i>-->
                    <h3 class="transitions-fast">Caza a los puercos silvestres</h3>
                </div>
                <img src="img/libros/paucke/caza-a-los-puercos-silvestres.jpg" data-src="js/application/views/paucke/helpers/modal14.html" alt="">
            </div>

            <div class="hoverContainer">
               <div class="hoverTitle transitions-fast">
                    <!--<i class="fullscreen-hover"></i>-->
                    <h3 class="transitions-fast">Indio para la guerra</h3>
                </div>
                <img src="img/libros/paucke/indio-para-la-guerra.jpg" data-src="js/application/views/paucke/helpers/modal18.html" alt="">
            </div>
        </div>


        <div class="col-md-3 col-sm-3 col-12-xs">
            <div class="hoverContainer">
                <div class="hoverTitle transitions-fast">
                    <!--<i class="fullscreen-hover"></i>-->
                    <h3 class="transitions-fast">Del árbol del cual hacen sus lanzas</h3>
                </div>                        
                <img src="img/libros/paucke/del-arbol-del-cual-hacen-sus-lanzas.jpg" data-src="js/application/views/paucke/helpers/modal03.html" alt="">   
            </div>

            <div class="hoverContainer">
                <div class="hoverTitle transitions-fast">
                    <!--<i class="fullscreen-hover"></i>-->
                    <h3 class="transitions-fast">Combate entre indios salvajes y los míos</h3>
                </div>
                <img src="img/libros/paucke/combate-entre-indios-salvajes-y-los-mios.jpg" data-src="js/application/views/paucke/helpers/modal07.html" alt="">
            </div>

            <div class="hoverContainer">
                <div class="hoverTitle transitions-fast">
                    <!--<i class="fullscreen-hover"></i>-->
                    <h3 class="transitions-fast">Abundancia de patos y aves</h3>
                </div>
                <img src="img/libros/paucke/abundancia-de-patos-y-aves.jpg" data-src="js/application/views/paucke/helpers/modal11.html" alt="">
            </div>

            <div class="hoverContainer">
                <div class="hoverContainer">
                    <div class="hoverTitle transitions-fast">
                        <!--<i class="fullscreen-hover"></i>-->
                        <h3 class="transitions-fast">No necesitan ninguna otra provisión</h3>
                    </div>
                    <img src="img/libros/paucke/no-necesitan-ninguna-otra-provision.jpg" data-src="js/application/views/paucke/helpers/modal15.html" alt="">
                </div>
            </div>
            
        </div>


        <div class="col-md-3 col-sm-3 col-12-xs">
            <div class="hoverContainer">
                <div class="hoverTitle transitions-fast">
                    <!--<i class="fullscreen-hover"></i>-->
                    <h3 class="transitions-fast">Un delicioso asadito indio</h3>
                </div>
                <img src="img/libros/paucke/un-delicioso-asadito-indio.jpg" data-src="js/application/views/paucke/helpers/modal04.html" alt="">
            </div>

            <div class="hoverContainer">
                <div class="hoverTitle transitions-fast">
                    <!--<i class="fullscreen-hover"></i>-->
                    <h3 class="transitions-fast">De qué modo pesca el tigre</h3>
                </div>
                <img src="img/libros/paucke/de-que-modo-pesca-el-tigre.jpg" data-src="js/application/views/paucke/helpers/modal08.html" alt="">
            </div>

            <div class="hoverContainer">
                <div class="hoverTitle transitions-fast">
                    <!--<i class="fullscreen-hover"></i>-->
                    <h3 class="transitions-fast">Cómo se les prende con lazos</h3>
                </div>
                <img src="img/libros/paucke/como-se-les-prende-con-lazos.jpg" data-src="js/application/views/paucke/helpers/modal12.html" alt="">
            </div>

            <div class="hoverContainer">
                <div class="hoverTitle transitions-fast">
                    <!--<i class="fullscreen-hover"></i>-->
                    <h3 class="transitions-fast">Vista de San Javier</h3>
                </div>
                <img src="img/libros/paucke/vista-de-san-javier.jpg" data-src="js/application/views/paucke/helpers/modal16.html" alt="">
            </div>

            <div class="hoverContainer">
                <div class="hoverContainer">
                    <div class="hoverTitle transitions-fast">
                        <!--<i class="fullscreen-hover"></i>-->
                        <h3 class="transitions-fast">Naipes</h3>
                    </div>
                    <img src="img/libros/paucke/carta.jpg" data-src="js/application/views/paucke/helpers/modal19.html" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
