<div class="modalContent hide">
  <div class="content-1">
      <h1 >Se hacen tatuar la cara para ser bellos</h1>
      <img src="img/libros/paucke/se-hacen-tatuar-la-cara-para-ser-bellos.jpg" alt="">
      
      <p>Como el sexo femenino europeo es tan ansioso por todas las modas y sólo trata siempre de llevar sobre sí nuevos y exóticos vestidos de gala y aprecia en lo más a aquella moda que proviene de tierras lejanas, podría también complacerse con aquella moda que procede de algunos miles de leguas. Ahora yo preguntaría qué diferencia habría entre una locuela por las modas europeas y una india americana. Yo digo: ninguna, porque ambas son fantaseadoras y quieren ser bellas mediante la fealdad.</p>

      <p>Arriba a la izquierda: India tatuada en la cara y en el pecho con sus lóbulos horadados sin pendientes. Arriba a la derecha: Otra india con sus pendientes. Indio con tatuaje en la cara. En el centro: Figuras tatuadas sobre el pecho. Abajo a la izquierda: Espina para tatuar. Abajo a la derecha: Tatuadora de imágenes paracuaria.</p>
  </div>
</div>
