<div class="modalContent alto panoramica hide">
  <div class="content-1">
      <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="ttCont">
                <img src="img/libros/paucke/vista-de-san-javier.jpg" alt="">
                <span class="tip"><%=dataToShow.traduccion%></span>
              </div>
            </div>
            
            <div class="col-md-6 col-sm-6 col-xs-12">
                <!--<h1 >Vista de San Javier</h1>-->
                <blockquote>
                    <i class="fa fa-angle-double-left"></i><!--<i class="fa fa-angle-double-left"></i>-->Como el sexo femenino europeo es tan ansioso por todas las modas y sólo trata siempre de llevar sobre sí nuevos y exóticos vestidos de gala y aprecia en lo más a aquella moda que proviene de tierras lejanas, podría también complacerse con aquella moda que procede de algunos miles de leguas. Ahora yo preguntaría qué diferencia habría entre una locuela por las modas europeas y una india americana. Yo digo: ninguna, porque ambas son fantaseadoras y quieren ser bellas mediante la fealdad.<i class="fa fa-angle-double-right"></i>
                </blockquote>                
            </div>
        </div>
  </div>
</div>
