<div id="cartas" class="modalContent hide ">
    <div class="cartas">

        <div class="sliderWrapper">
            <ul id="lightSlider2">
                <%_.each(dataToShow.slide,function(elem,ind){%>
                <%console.log(elem[ind])%>
                    <li class="img<%=ind%> alto">
                    	<img data-high="img/libros/paucke/cartas/<%=elem.img%>" src="img/libros/paucke/cartas/<%=elem.lowr%>" alt="">
                    	<h3><%=elem.txt%></h3>
                    </li>                
                <%})%>
            </ul>

            <!--<span class="traduccion-btn transitions-fast" data-tip="Activar lupa">
                <i class="fa fa-search-plus"></i>
            </span>-->

            <i class="fa fa-spinner fa-pulse transitions-mid"></i>
        </div>

    </div>
</div>
