<div class="modalContent hide">
  	<div class="content-1">
      	<div class="row">
            <div class="col-md-7 col-sm-7 col-xs-7">
                <img src="img/libros/paucke/su-fruta.jpg" alt="">
                <p class="traduccion">En español algarrobo negro, en lengua mocoví naveté lelac. Las vainas son más cortas que las de los otros algarrobos. Las cortezas están ornadas en diversos colores: amarillo, verde, rosado y azul. El sabor de la fruta es extremadamente dulce; se seca, luego se machaca, se pasa por un colador para que sólo reste la harina de esta fruta. Ésta se humedece en un poco de agua, se aprensa fuertemente en algún molde, se retira del molde y se coloca al sol hasta estar seca. Es dulce como azúcar y se disuelve en la boca al igual que el azúcar. Tal queso redondo se llama patai, es sano y alimenta bien.</p>
            </div>

            <div class="col-md-5 col-sm-5 col-xs-5">
                <!--<h1 >Su fruta</h1>-->                

                <blockquote>
                    <i class="fa fa-angle-double-left"></i><!--<i class="fa fa-angle-double-left"></i>-->Los indios usan esta algarroba de diversas maneras; ellos comen esta fruta también como los españoles ordinarios como acabo de informar, pero con esta diferencia: ellos vuelcan en una olla grande o fuente, la fruta machacada, vuelcan encima bastante agua, lo revuelven con sus manos y se sientan en derredor de la fuente; cada cual saca con cuatro dedos de ahí lo que puede, sorben el jugo, vuelven a sacar de la boca las vainas y la semilla y las colocan en derredor de la fuente hasta que han absorbido todo. Luego vuelcan otra vez agua encima, vuelven a removerlo con las manos y comienzan de nuevo a sorber o chupar como antes. ¡Puf, cuán apetitoso!<i class="fa fa-angle-double-right"></i>
                </blockquote>                
            </div>
        </div>
  	</div>
</div>
