<div class="modalContent hide">
  <div class="content-1">
      <div class="row">
            <div class="col-md-7 col-sm-7 col-xs-7">
                <img src="img/libros/paucke/abundancia-de-patos-y-aves.jpg" alt="">
            </div>

            <div class="col-md-5 col-sm-5 col-xs-5">
                <h1 >Abundancia de patos y aves</h1>
                <p class="traduccion">Garzas junto al agua. Cañas del agua.</p>

                <blockquote>
                    <i class="fa fa-angle-double-left"></i><!--<i class="fa fa-angle-double-left"></i>-->En el Paraguay junto a las aguas pueden verse muchas clases de garzas grandes y chicas, de plumas grises y blancas, iguales en la figura a las europeas; son de largos picos, de largos pescuezos y patas, y de carne flaca. Los mocovíes tienen en este caso una superstición que cuando una garza vuela por sobre la reducción y comienza a gritar sería una señal de que pronto morirá alguien en la aldea. Las llaman atigmaec. Recuerdo haber escrito ya lo que ha pasado a un indio por esta superstición.<i class="fa fa-angle-double-right"></i>
                </blockquote>                
            </div>
        </div>
  </div>
</div>
