<div class="modalContent hide">
  	<div class="content-1">
      	<div class="row">
            <div class="col-md-7 col-sm-7 col-xs-7">
                <img src="img/libros/paucke/deshacen-la-choza.jpg" alt=""
            </div>

            <div class="col-md-5 col-sm-5 col-xs-5">
                <!--<h1 >Deshacen la choza</h1>-->
                <p class="traduccion">Arriba a la izquierda: Sepultura de un indio fallecido, mujeres plañideras. En el centro: Por la compasión el hijo mata a golpes a su madre moribunda. Arriba a la derecha: De cómo los mocovíes llevan al muerto a la sepultura. Centro a la derecha: La hechicera chupando al enfermo. Abajo a la izquierda: Matador de garganta tira a la garganta del difunto. Abajo a la derecha: Luto de los mocovíes.</p>

                <blockquote>
                    <i class="fa fa-angle-double-left"></i><!--<i class="fa fa-angle-double-left"></i>-->Cuando muere la mujer de un indio, el marido toma su caballo y cabalga a la caza o agarrada de caballos; mediante esto él quiere ahuyentar el pesar por su mujer fallecida, no se preocupa por su entierro pues eso deben hacerlo sus amigos; después de uno, dos o tres meses él retorna pero no a su casa de la cual ya han salido también sus hijos después de la muerte de su madre o padre. El padre enviudado deshace en un montón su choza y erige no lejos una nueva o ínterin sólo una barraca de herbajes y gajos de árboles.<i class="fa fa-angle-double-right"></i>
                </blockquote>                
            </div>
        </div>
  	</div>
</div>
