<div class="modalContent hide">
    <div class="content-1">      
        <div class="row">
            <div class="col-md-7 col-sm-7 col-xs-7">
                <div class="ttCont">
                    <img src="img/libros/paucke/<%=dataToShow.src%>" alt="">
                    <!--<p class="traduccion">
                        <%=dataToShow.traduccion%>
                    </p> -->
                    <span class="tip"><i><%=dataToShow.traduccion%></i></span>
                </div>
            </div>

            <div class="col-md-5 col-sm-5 col-xs-5">
                <!--<h1 >Mi traves&iacute;a por el saladillo</h1>-->               

                <blockquote>
                    <i class="fa fa-angle-double-left"></i><!--<i class="fa fa-angle-double-left"></i>-->
                    <%=dataToShow.fragmento%>
                    <i class="fa fa-angle-double-right"></i>
                </blockquote>                
            </div>
        </div>
    </div>
</div>
