<div class="modalContent hide">
  <div class="content-1">
      <div class="row">
            <div class="col-md-7 col-sm-7 col-xs-7">
                <img src="img/libros/paucke/un-delicioso-asadito-indio.jpg" alt="">
            </div>

            <div class="col-md-5 col-sm-5 col-xs-5">
                <!--<h1 >Un delicioso asadito indio</h1>-->
                <p class="traduccion">Caza de langostas para la comida. Preparación del charque o secadero de carne.</p>

                <blockquote>
                    <i class="fa fa-angle-double-left"></i><!--<i class="fa fa-angle-double-left"></i>-->Que anoten esta manera de lavar todos los cocineros desaseados y cocineras desaseadas: es un procedimiento muy fácil, rápido y poco carente de agua. El indio ya había colocado en el asador el pedazo de carne sucio y muy emporcado en lo devorado por el vacuno, corrió a un charco barriento, metió a la boca algunas manadas llenas de agua barrosa y arrojó el agua desde la boca sobre la carne, pasó la mano algunas veces por arriba y abajo sobre la carne y corrió con ella al fuego. ¡Qué tenía yo que decir y pensar sino lo que los indios solían decirme que el fuego consume todo!<i class="fa fa-angle-double-right"></i>
                </blockquote>                
            </div>
        </div>
  </div>
</div>
