<div class="modalContent hide">
  <div class="content-1">
      <div class="row">
            <div class="col-md-7 col-sm-7 col-xs-7">
                <img src="img/libros/paucke/sus-ceremonias-durante-el-beber-en-exceso.jpg" alt="">
            </div>

            <div class="col-md-5 col-sm-5 col-xs-5">
                <h1 >Sus ceremonias durante el beber en exceso</h1>
                <p class="traduccion"><b>Traducción:</b> De arriba a abajo: Cómo los mocovíes se pegan con los puños después de haber bebido hasta emborracharse. Los mocovíes se emborrachan. La mujeres viejas mascan el cucurus.</p>

                <blockquote><!--<i class="fa fa-angle-double-left"></i>-->En semejantes reuniones mojadoras en las cuales a veces aparecen más de cien indios, ocurren unas cosas tales que causan el mayor asombro a todo hombre razonable. Estos bebedores reunidos terminan infaliblemente su diversión mediante el pegar, matar, asesinar y parecidos espectáculos asesinos que ellos representan entre ellos y por medio de ellos. Por tal motivo las mujeres indias cuando sus consortes se embriagan, se empeñan en esconder las lanzas y mazas de sus hombres entre los matorrales de la selva para que en cuanto los hombres llegan a las manos no tengan otros instrumentos que sus manos desnudas.</blockquote>
            </div>
        </div>
  </div>
</div>
