<div class="modalContent hide">
 	 <div class="content-1">
      	<div class="row">
            <div class="col-md-7 col-sm-7 col-xs-7">
                <img src="img/libros/paucke/no-necesitan-ninguna-otra-provision.jpg" alt="">
            </div>

            <div class="col-md-5 col-sm-5 col-xs-5">
                <!--<h1 >No necesitan ninguna otra provisión</h1>-->
                <p class="traduccion">De cómo los indios sacan a hacha y retiran de los árboles la miel.</p>

                <blockquote>
                    <i class="fa fa-angle-double-left"></i><!--<i class="fa fa-angle-double-left"></i>-->Mientras el indio donde quiera que vaya encuentra siempre y come si no presa montesa pero a lo menos miel, cuernitos de chivos, raíces de una cierta clase de los árboles, frutas del monte, hasta víboras, cocodrilos, lagartos y otra semejante asquerosidad hedionda ¡más! hasta las hojas de los árboles.<i class="fa fa-angle-double-right"></i>
                </blockquote>                
            </div>
        </div>
  	</div>
</div>
