<div class="modalContent alto panoramica hide">
  <div class="content-1">
      <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="ttCont">
                <img src="img/libros/paucke/<%=dataToShow.src%>" alt="">

                <div class="tips transitions-fast">
                    <i class="transitions-fast"><%=dataToShow.traduccion%></i>
                </div>

                <span class="traduccion-btn transitions-fast" data-tip="Activar lupa">
                    <i class="fa fa-search-plus"></i>
                    <!--<span class="ttip transitions-fast">Traducción</span>-->
                </span>
              </div>
            </div>
            
            <div class="col-md-12 col-sm-12 col-xs-12">
                <blockquote>
                    <span class="izq">&laquo;</span>
                        <%=dataToShow.fragmento%>
                    <!--<span class="der">&raquo;</span>-->
                </blockquote>                
            </div>
        </div>
  </div>
</div>
