<div class="modalContent alto panoramica hide">
  <div class="content-1">
      <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="ttCont">
                <img src="img/libros/paucke/<%=dataToShow.src%>" alt="">
                <span class="tip"><%=dataToShow.traduccion%></span>
              </div>
            </div>
            
            <div class="col-md-6 col-sm-6 col-xs-12">
                <!--<h1 >Vista de San Javier</h1>-->
                <blockquote>
                    <i class="fa fa-angle-double-left"></i><!--<i class="fa fa-angle-double-left"></i>-->
                    <%=dataToShow.fragmento%>
                    <i class="fa fa-angle-double-right"></i>
                </blockquote>                
            </div>
        </div>
  </div>
</div>
