<div class="modalContent hide">
  <div class="content-1">
      <div class="row">
            <div class="col-md-7 col-sm-7 col-xs-7">
                <img src="img/libros/paucke/un-cocodrilo-sin-cabeza-se-arrastra-de-nuevo-a-las-aguas.jpg" alt="">
            </div>

            <div class="col-md-5 col-sm-5 col-xs-5">
                <h1 >Un cocodrilo sin cabeza se arrastra de nuevo al aguas</h1>
                <p class="traduccion"><b>Traducción:</b> Cocodrilo; en lengua guaraní, yacaré; en mocoví, ananoc. Pequeña lagartija verde. La lagartija roja del mismo nombre de la negra verde, lagartija negri-verde; en lengua de Cuzco, iguana; en lengua mocoví, acilcaic.

                <blockquote><!--<i class="fa fa-angle-double-left"></i>-->Yo he admirado lo que he visto en un cocodrilo muy grande que he muerto a tiros en el río Paraná. Él quedó muerto ya en el agua, mis indios lo agarraron con sus dardos y lo arrastraron a la orilla hasta más o menos diez pasos de distancia del agua. Después que le habían cortado la cabeza (pues yo tomaba conmigo solo las cabezas a causa de sus dientes que sirven para buen uso) yacía el cuerpo inmóvil sin cabeza en el sitio por un medio cuarto de hora, también ya estábamos de vuelta en el bote para partir con el cocodrilo, cuando vimos que el cuerpo comenzó a moverse con las cuatro patas y en derechura entró al río como si él aun estuviere vivo. Ahí un alegre mozo de entre mis indios comenzó a gritar: 
                	<br> 
                -¡Vamos, vámonos! ¡Remad cuanto podéis, tended todas las velas! ¡El cocodrilo viene a buscar su cabeza y llevará consigo todas las cabezas nuestras!</blockquote>                
            </div>
        </div>
  </div>
</div>
