<div class="modalContent hide">
  <div class="content-1">
      <div class="row">
            <div class="col-md-7 col-sm-7 col-xs-7">
                <img src="img/libros/paucke/indio-para-la-guerra.jpg" alt="">
            </div>

            <div class="col-md-5 col-sm-5 col-xs-5">
                <h1 >Indio para la guerra</h1>
                <p class="traduccion"><b>Traducción:</b> Indio mocoví preparado para la guerra. Su armadura de cuero crudo de buey. Macana. Arco y flecha. Su cuchillo en la vaina.</p>      
            </div>
        </div>
  </div>
</div>
