<div class="wrapper">
    <div class='row'>
        <div class='col-md-3 col-sm-3 col-xs-3'>
            <h1 class='libroTitle'>Florian Paucke Hacia allá y para acá.</h1>
            <nav>
                <ul>
                    <li><a href="/#bio">[ ¿Quién es Florian Paucke? ]</a></li>
                    <li><a href="/#memorias">[ Sus memorias ]</a></li>
                    <li><a href="/blog/">[ Nota a la edición digital ]</a></li>
                </ul>
            </nav>
        </div>
        <div class='col-md-9 col-sm-9 col-xs-9'>
            <div class="sliderWrapper">
                <ul id="lightSlider">
                    <li>

                        <h3>First Slide</h3>
                        <p>Lorem ipsum Cupidatat quis pariatur anim.</p>
                        <img src="img/libros/paucke/abundancia-de-patos-y-aves.jpg" data-src="js/application/views/paucke/helpers/modalContent.html" alt="">
              
                    </li>
                    <li>
                      <h3>Second Slide</h3>
                      <p>Lorem ipsum Excepteur amet adipisicing fugiat velit nisi.</p>
                      <img src="img/libros/paucke/carta.jpg" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
