<div id="pauckeBook" class="wrapper books-cont">
    <div class='row'>
        <div class='navBook col-md-3 col-sm-3 col-xs-3'>
            <h1 class='libroTitle'>Florian Paucke Hacia allá y para acá.</h1>
            <nav>
                <ul>
                    <li><a href="/#bio"><!--<i class="menuArrow fa fa-angle-double-right"></i>-->[ ¿Quién es <span>Florian Paucke? ]</span></a></li>
                    <li><a href="/#memorias"><!--<i class="menuArrow fa fa-angle-double-right"></i>-->[ Sus memorias ]</a></li>
                    <li><a href="/blog/"><!--<i class="menuArrow fa fa-angle-double-right"></i>-->[ Nota a la <span>edición digital ]</span></a></li>
                </ul>
            </nav>
        </div>
        <div class='col-md-9 col-sm-9 col-xs-9'>
            <div class="sliderWrapper">
                <ul id="lightSlider">
                    <li class="1 alto">
                        <div class="hoverContainer">
                            <div class="hoverTitle transitions-fast">
                                <h3>Mi travesía por el Saladillo</h3>
                                <p>Lorem ipsum Cupidatat quis pariatur anim.</p>
                            </div>                        
                            <img src="img/libros/paucke/mi-travesia-por-el-saladillo.jpg" data-src="js/application/views/paucke/helpers/modal01.html" alt="">   
                        </div>           
                    </li>

                    <li class="2 ancho">
                        <div class="hoverContainer">
                            <div class="hoverTitle transitions-fast">
                                <h3>Se hacen tatuar la cara para ser bellos</h3>
                                <p>Lorem ipsum Cupidatat quis pariatur anim.</p>
                            </div> 
                            <img src="img/libros/paucke/se-hacen-tatuar-la-cara-para-ser-bellos.jpg" data-src="js/application/views/paucke/helpers/modal02.html" alt="">
                        </div>
                    </li>

                    <li class="3">
                        <h3>Third Slide</h3>
                        <p>Lorem ipsum Excepteur amet adipisicing fugiat velit nisi.</p>
                        <img src="img/libros/paucke/se-hacen-tatuar-la-cara-para-ser-bellos.jpg" data-src="js/application/views/paucke/helpers/modal02.html" alt="">
                    </li>

                    <li class="4">
                        <h3>Fourth Slide</h3>
                        <p>Lorem ipsum Excepteur amet adipisicing fugiat velit nisi.</p>
                        <img src="img/libros/paucke/se-hacen-tatuar-la-cara-para-ser-bellos.jpg" data-src="js/application/views/paucke/helpers/modal02.html" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
