

        

    <section class="hero">
        <ul class="slideme">
            <li class="paucke">
                <div class="wrapper height100prcnt">
                    <img class=" abRight" src="img/bkg/home-bckg-paucke.jpg"/>
                    <h1 class="txtAnimacion"><span>Florian Paucke</span> Hacia allá y para acá</h1>                        
                </div>
            </li>
            <li class="siglos">
                <div class="wrapper height100prcnt">
                    <img class="width100prcnt" src="img/bkg/home-bckg-siglos.jpg"/>
                    <h1 class="txtAnimacion"><span>Santa Fe entre dos siglos</span> Fotografías 1860/1910</h1>                        
                </div>
            </li>
            <li class="signos">
                <div class="wrapper height100prcnt">
                    <img class="abRight"src="img/bkg/home-bckg-signos.jpg"/>
                    <h1 class="txtAnimacion"><span>Signos santafesinos</span> en el Bicentenario</h1>                        
                </div>
            </li>
        </ul>
    </section>


    <div class="wrapper home-btns">
        <div class="row home-cta btns">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <a href="#paucke" class="use-btn animated fadeInUp paucke-btn" data-section="paucke"><span class="overf"></span>Florian Paucke <span class="bajada">Hacia acá y para allá</span> <i class="fa fa-chevron-right"></i></a> 
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <a href="#siglos" class="use-btn animated fadeInUp siglos-btn" data-section="siglos"><span class="overf"></span>Santa Fe entre dos siglos <span class="bajada">Fotografías 1860/1910</span> <i class="fa fa-chevron-right"></i></a> 
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <a href="#signos" class="use-btn animated fadeInUp signos-btn" data-section="signos"><span class="overf"></span>Signos santafesinos <span class="bajada">en el Bicentenario</span> <i class="fa fa-chevron-right"></i></a> 
            </div>
        </div>
    </div>